@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
  url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root{
  --color-white:#fff;
  --color-black:#333;
  --color-yellow:#FFBD54;
  --color-grey:#949494;
  --color-blue:#3D9CEA;
  --color-icon-blue:#78C0DE;

}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "FuturaPT", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #F9F9F9;
  background-image: url("../img/bg.png");
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER-TOP */
.heared__top{
  padding-top: 11px;
  padding-bottom: 13px;
  background-color: #F9F8F8;
}
.site-header__container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.heared__top-address{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  margin-right: 106px;
}
.heared__top-address::before{
  content: "";
  display: block;
  width: 14px;
  height: 13px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}

.header__top-phone{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}
.header__top-phone:hover{
  color: var(--color-yellow);
}
.header__top-phone:active{
  color: var(--color-yellow);
  opacity: 0.4;
}


.header__top-phone:not(:last-child){
  margin-right: 9px;
}

.phone-first::before{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
}
.phone-second::before{
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  margin-right: 9px;
}
.phone-second::after{
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  margin-left: 9px;
}

.heared__top-date{
  display: flex;
  align-items: center;
}
.heared__top-date ~ .heared__top-date{
  margin-left: 17px;
}
.heared__top-date b{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-black);
  margin-right: 3px;
}

.heared__top-date span{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-black);
}
.date-first::before{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/schedule.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
  margin-left: 98px;
}

/* HEADER_BOTTOM */
.header__bottom {
  padding: 20px 0;
  background-color: var(--color-white);
}
.site-header__bottom-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-box {
  width: 180px;
  height: 100%;
  position: relative;
  z-index: 1;
}
.header__logo-link {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.header__logo-link:hover{
  opacity: 0.7;
}
.header__logo-link:active{
  opacity: 0.4;
}
.header__logo-img {
  display: block;
}
.site-nav {
  width: 800px;
}
.site-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}
.site-nav__item {
  display: flex;
  align-items: center;
}
.site-nav__item:not(:last-child){
  margin-right: 43px;
}
.site-nav__item:nth-child(7n){
  margin-top: 30px;
}
.site-nav__item--avtive::before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-active-fish.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
}

.site-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-black);
  text-decoration: none;
  position: relative;
  z-index: 5;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}
.site-nav__link:active{
  opacity: 0.4;
}
.site-nav__link::after{
  position: absolute;
  z-index: -1;
  display: none;
  bottom: 4px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #f4ffad;
}
.site-nav__link:hover::after{
  display: block;
}

.header__button {
  width: 180px;
  display: flex;
  align-items: center;
}
.header__ask-link{
  display: inline-block;

}
.header__button::before {
  content: "";
  display: block;
  width: 23px;
  height: 20px;
  background-image: url("../img/icon-pet.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
}

/* HERO */
.hero {
  padding-top: 145px;
  padding-bottom: 145px;
  background-image: url("../img/hero-left-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 500px) -190px;
}

.hero__container {
  display: flex;
  justify-content: flex-end;
}
.hero__content{
  position: relative;
  z-index: 1;
}
.hero__content::after {
  width: 350px;
  height: 430px;
  position: absolute;
  z-index: 1;
  right: -200px;
  bottom: -270px;
  content: "";
  background-image: url("../img/hero-right-bg.png");
  background-repeat: no-repeat;
  /* background-position: calc(50% + 200px) 0px; */

}
.hero__heading {
  width: 608px;
  margin: 0;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: var(--color-black);
  margin-bottom: 29px;
}
.hero__heading span{
  color: var(--color-icon-blue);
}
.hero__desc {
  width: 495px;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-grey);
  margin-bottom: 38px;
}
.button {
  padding: 15px 48px;
  border-radius: 3px;
  color: var(--color-white);
  background-color: var(--color-black);
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.button:hover{
  opacity: 0.7;
}
.button:active{
  opacity: 0.4;
}


/* blockquote */
.blockquote-section{
  padding-top: 185px;
  padding-bottom: 145px;
}
.blockquote-section__content{
  width: 753px;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-grey);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}
.blockquote__box::before{
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  margin-bottom: 43px;
  margin-right: auto;
  margin-left: auto;
}
.blockquote__box::after{
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}

.blockquote-section__content::before{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
width: 142px;
height: 128px;
background-image: url("../img/blockquote-left.svg");
background-repeat: no-repeat;
top: -30px;
left: -100px;
}
.blockquote-section__content::after{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
width: 142px;
height: 128px;
background-image: url("../img/blockquote-right.svg");
background-repeat: no-repeat;
top: 30px;
right: -200px;
}

.blockquote-section__name{
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  text-align: center;
  margin-top: 35px;
}

/* SERVICES */
.services {
  padding-bottom: 50px;
}

.services__container {
  position: relative;
  z-index: 1;
}

.services__heading {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: var(--color-black);
  margin-bottom: 80px;
}
.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-right: 35px;
  margin-left: 35px;
  overflow-x: hidden;
}
.button-list{
  display: flex;
  align-items: center;
}

.services__arrows {
  display: block;
  position: absolute;
  padding: 20px;
  width: 50;
  height: 50px;
  border: none;
  background-position: center center;
  border-radius: 2px;
  background-size: 14px 26px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.arrows-left{
  left: -15px;
  background-image: url("../img/arrow-left.svg");

}
.arrows-right{
  right: -15px;
  background-image: url("../img/arrow-right.svg");

}
.services__arrows:hover{
  background-color: var(--color-white);
}
.services__arrows:active{
  background-color: var(--color-white);
  opacity: 0.7;
}


.services__item {
width: 200px;
background-color: var(--color-white);
border-radius: 5px;
display: flex;
align-items: center;
flex-direction: column;
flex-shrink: 0;
}
.services__item:not(:last-child){
  margin-right: 13px;
}

.services__link {
text-decoration: none;
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 32px;
transition: opacity 0.3s ease;
}
.services__link:hover{
  opacity: 0.7;
}
.services__link:active{
  opacity: 0.4;
}

.services__link::before{
  content: "";
  display: block;
  background-image: url("../img/doctor.svg");
  background-repeat: no-repeat;
width: 54px;
height: 77px;
margin-bottom: 22px;
}

.link--womandoctor::before{
 background-image: url("../img/woman-doctor.svg");
 width: 61px;
 height: 76px;
}

.link--hirurgiya::before{
  background-image: url("../img/dog-surgeon.svg");
  width: 72px;
  height: 77px;
 }
.link--dermotologiya::before{
  background-image: url("../img/dermotologiya.svg");
  width: 76px;
  height: 76px;
 }

.link--laboratoriya::before{
  background-image: url("../img/laboratory.svg");
  width: 78px;
  height: 78px;
 }

.link--oftalmologiya::before{
  background-image: url("../img/oftalmologiya.svg");
  width: 76px;
  height: 76px;
 }

 .link--uzi::before{
  background-image: url("../img/uzi.svg");
  width: 77px;
  height: 77px;
 }

 .link--chip::before{
  background-image: url("../img/chipirovaniya.svg");
  width: 40px;
  height: 77px;
 }

.link--mejdpassport::before{
  background-image: url("../img/mejdu-passport.svg");
  width: 86px;
  height: 78px;
 }

.link--vakcina::before{
  background-image: url("../img/vaksinasiya.svg");
  width: 68px;
  height: 76px;
 }

.link--stom::before{
  background-image: url("../img/stomotologiya.svg");
  width: 78px;
  height: 78px;
 }

 .link--callhome::before{
  background-image: url("../img/call-to-home.svg");
  width: 77px;
  height: 77px;
 }


.services__desc{
margin: 0;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
color: var(--color-black);
}